{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Pagina Inicial</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{% static '/static/css/tailwind.output.css' %}" />
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
  <script src="{% static '/static/js/init-alpine.js' %}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" defer></script>
  <script src="{% static './static/js/charts-lines.js' %}" defer></script>
  <script src="{% static './static/js/charts-pie.js' %}" defer></script>
</head>


<body>

  {% include '_base.html' %}

  <div class="right-login">
    <div class="card-login">
      <h1>CADASTRO</h1>
      <form action="/add/" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Salvar">
      </form>

    </div>
  </div>
</body>

</html>