{% load static %}

{% include '_base.html' %}

<div class="w-full overflow-hidden rounded-lg shadow-xs">
  <div class="w-full overflow-x-auto">
    <table class="w-full whitespace-no-wrap">
      <thead>
        <tr
          class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <th class="px-4 py-3">ID</th>
          <th class="px-4 py-3">Nome</th>
          <th class="px-4 py-3">CPF</th>
          <th class="px-4 py-3">PDF</th>
          <th class="px-4 py-3">Detalhes</th>
          <th class="px-4 py-3">Editar</th>
          <th class="px-4 py-3">Remover</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
        {% for pessoa in pessoas %}
        <tr class="text-gray-700 dark:text-gray-400">
          <td class="px-4 py-3 text-sm">{{ pessoa.id }}</td>
          <td class="px-4 py-3 text-sm">{{ pessoa.nome }}</td>
          <td class="px-4 py-3 text-sm">{{ pessoa.cpf }}</td>
          <td class="px-4 py-3 text-sm">
            {% if pessoa.pdf %}
            <a href="{{ pessoa.pdf.url }}" target="_blank" class="text-blue-500 hover:underline">Ver PDF</a>
            {% else %}
            Não disponível
            {% endif %}
          </td>
          <td class="px-4 py-3 text-sm">
            <a href="{% url 'details' pessoa.id %}">
              <button
                class="px-3 py-1 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-blue-600 border border-transparent rounded-md active:bg-blue-600 hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue">
                Detalhar
              </button>
            </a>
          </td>
          <td class="px-4 py-3 text-sm">
            <a href="{% url 'refresh' pessoa.id %}">
              <button
                class="px-3 py-1 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-blue-600 border border-transparent rounded-md active:bg-blue-600 hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue">
                Editar
              </button>
            </a>
          </td>
          <td class="px-4 py-3 text-sm">
            <a href="{% url 'delete' pessoa.id %}">
              <button
                class="px-3 py-1 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-red-600 border border-transparent rounded-md active:bg-red-700 hover:bg-red-800 focus:outline-none focus:shadow-outline-red">
                Excluir
              </button>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
