{% load static %}
<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Página Inicial</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/static/css/tailwind.output.css" />
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
  <script src="/static/js/init-alpine.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" defer></script>
  <script src="./static/js/charts-lines.js" defer></script>
  <script src="./static/js/charts-pie.js" defer></script>
</head>

<body>

  {% include '_base.html' %}
  <p class="mb-2 text-2xl font-medium text-gray-600 dark:text-gray-400">
    Listagem de Atas
  </p>

  <div class="w-full p-4">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      {% for ata in atas %}
      <div class="bg-white dark:bg-gray-800 rounded-lg shadow-md p-4 flex flex-col justify-between h-auto">
        <div>
          <h2 class="text-xl font-semibold text-gray-800 dark:text-gray-200 mb-2">
            {{ ata.ano }} - {{ ata.serie }} - {{ ata.turma }}
          </h2>
          <div class="text-sm text-gray-600 dark:text-gray-400 mb-4">
            <a href="{% url 'ver_arquivos_ata' ata.id %}" class="text-blue-500 hover:underline block mb-2">
              Ver todos os arquivos
            </a>
          </div>
        </div>
        <div class="flex justify-between mt-auto">
          <a href="{% url 'edit_ata' ata.id %}">
            <button
              class="px-3 py-1 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-blue-600 border border-transparent rounded-md active:bg-blue-600 hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue">
              Editar
            </button>
          </a>
          <a href="{% url 'remove_ata' ata.id %}">
            <button
              class="px-3 py-1 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-red-600 border border-transparent rounded-md active:bg-red-700 hover:bg-red-800 focus:outline-none focus:shadow-outline-red">
              Excluir
            </button>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</body>

</html>
