{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>

<head>
    <title>Cadastro de Ata</title>
</head>

<body>
    {% include '_base.html' %}
    <div class="right-login">
        <div class="card-login">
            <h1>Cadastro de Atas</h1>
            <form action="{% url 'cadastro_ata' %}" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Salvar">
            </form>

        </div>
    </div>
</body>

</html>
{% endblock %}